.total-row {
    background-color:lightyellow;
    font-weight: bold;
}

.header-lvl1 {
    background-color:#c9c9ff;
    font-weight: bold;
}

.header-lvl2 {
    background-color:#e1f7d5;
    font-weight: bold;
}