<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img [src]="catLogoUrl" height="30" class="d-inline-block align-top" alt=""> ERP PRJ
  </a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
        <a class="nav-link" role="button" style="cursor:pointer;" ngbDropdownToggle>
          <i class="fa fa-user"></i> {{ name }}
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a class="dropdown-item" href="#">
            <i class="fa fa-cog"></i> Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">
            <i class="fa fa-sign-out"></i> Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="sidenav-container">
  <div class="sidenav">
    <div class="nav flex-column nav-pills" aria-orientation="vertical">
      <a routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" class="nav-link" aria-controls="v-pills-home">
        Migration
      </a>
    </div>
  </div>
  <div class="sidenav-content p-3">
    <router-outlet></router-outlet>
  </div>
</div>