.sidenav-container {
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .sidenav {
    width: 20%;
    height: 100%;
    background-color: #f5f5f5;
    float:left;
  }

  .sidenav-content {
    width:80%;
    height:100%;
    float:left;
  }
  