<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h3 class="float-left">Invoice Summary</h3>
    </div>
  </div>
  <hr>

  <form (ngSubmit)="submit()">
    <div class="form-row">
      <div class="form-group col-lg-2">
        <label for="wfromdate">From Date</label>
        <div class="input-group">
          <input ngbDatepicker #d="ngbDatepicker" readonly required [(ngModel)]="model.fromdate" name="wfromdate" type="text" class="form-control"
            id="wfromdate">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>

      </div>

      <div class="form-group col-lg-2">
        <label for="wtodate">To Date</label>
        <div class="input-group">
          <input ngbDatepicker #to="ngbDatepicker" readonly required [(ngModel)]="model.todate" name="wtodate" type="text" class="form-control"
            id="wtodate">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="to.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>

      </div>

      <div class="form-group col-lg-8">
        <legend class="col-form-label">Status</legend>
        <mat-radio-group class="mat-radio-group" name="wstatus" [(ngModel)]="model.status">
          <mat-radio-button class="mat-radio-button mr-3" value="A">
            All
          </mat-radio-button>
          <ng-container *ngFor="let st of status.st;index as i;">
            <mat-radio-button *ngIf="st.code!='N'" class="mat-radio-button mr-3" [value]="st.code">
              {{st.desc}}
            </mat-radio-button>
          </ng-container>
        </mat-radio-group>
      </div>

    </div>
    <div class="form-row">
      <button [disabled]="!formReady()" type="submit" class="btn btn-outline-success">Submit</button>
    </div>
  </form>

  <div class="row mt-3" *ngIf="report.length>0">
    <table class="table table-bordered">
      <thead>
        <tr style="background-color:lightgray;">
          <th class="text-center text-nowrap">Status</th>
          <th class="text-center text-nowrap">Contract Value</th>
          <th class="text-center text-nowrap">Amount</th>
          <th class="text-center text-nowrap">Date</th>
          <th class="text-center text-nowrap">Balance Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of report">
          <td class="text-center text-nowrap">{{ item.PO_STATUSD }}</td>
          <td class="text-right text-nowrap">{{ item.PO_CONTRACTVAL | readableNumber }}</td>
          <td class="text-right text-nowrap">{{ item.PO_AMOUNT | readableNumber }}</td>
          <td class="text-center text-nowrap">{{ item.PO_DATEMAX }}</td>
          <td class="text-right text-nowrap">{{ item.PO_AMOUNTBAL | readableNumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>