<div [@fade]="response.status>=0? 'in':'out'" class="alert" [class.alert-danger]="response.status==1" [class.alert-success]="response.status==0"
  role="alert">
  {{ response.message }}
</div>

<div class="row">
  <div class="col-md-12 col-lg-8">
    <form #poForm="ngForm" (ngSubmit)="submit(poForm)">
      <div class="form-row">
        <div class="form-group col-md-6 col-lg-8">
          <button [disabled]="!(poForm.form.valid && formReady())" type="submit" class="btn btn-primary btn-block">Save</button>
        </div>
        <div class="form-group col-md-6 col-lg-4">
          <ng-select [items]="layouts | filterLayoutHeaders" bindLabel="PL_DESC" bindValue="PL_LAYOUT" name="wlayout" [(ngModel)]="model.layout">
          </ng-select>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 col-lg-5">
          <label for="wref">P.O. Number</label>
          <ng-container *ngIf="poSelect">

            <div class="row">
              <div class="col-auto">
                <button (click)="poSelect=!poSelect" class="btn btn-outline-secondary" type="button">
                  <i class="fa fa-list"></i>
                </button>
              </div>
              <div class="col-sm-8">
                <ng-select [items]="ponumbers" bindLabel="OH_REF" bindValue="OH_REF" name="wref" [(ngModel)]="model.ref">
                </ng-select>
              </div>
            </div>

          </ng-container>

          <div class="input-group" *ngIf="!poSelect">
            <div class="input-group-prepend">
              <button (click)="poSelect=!poSelect" class="btn btn-outline-secondary" type="button">
                <i class="fa fa-list"></i>
              </button>
            </div>
            <input required #wref="ngModel" [(ngModel)]="model.ref" maxlength="60" type="text" class="form-control" name="wref">
          </div>
        </div>

        <div class="form-group col-md-6 col-lg-4">
          <label for="wperiod">Contract Date</label>
          <ng-select [items]="contractdates" bindLabel="PR_DATE" bindValue="PR_DATE" name="wperiod" [(ngModel)]="model.period">
          </ng-select>
        </div>
        <div class="form-group col-lg-3">
          <label for="wpodate">PO Date</label>
          <div class="input-group">
            <input ngbDatepicker #d="ngbDatepicker" readonly required [(ngModel)]="model.podate" name="wpodate" type="text" class="form-control"
              id="wpodate">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>

        </div>
      </div>



      <div class="form-row">
        <div class="form-group col-lg-6 col-xl-5">
          <legend class="col-form-label">Types</legend>
          <mat-radio-group class="mat-radio-group" name="wtype" [(ngModel)]="model.type">
            <mat-radio-button class="mat-radio-button" *ngFor="let ohType of ohTypes;index as i;" [value]="ohType.code">
              {{ohType.desc}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="form-group col-lg-6 col-xl-5">
          <legend class="col-form-label">Status</legend>
          <mat-radio-group class="mat-radio-group" name="wstatus" [(ngModel)]="model.status">
            <mat-radio-button class="mat-radio-button" *ngFor="let st of status.st;index as i;" [value]="st.code">
              {{st.desc}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="form-group col-lg-6 col-xl-2">
          <label for="winvdate">Invoice Date</label>
          <input required [(ngModel)]="model.invdate" minlength="6" name="winvdate" mask='9999/99' placeholder="YYYY/MM" type="text"
            class="form-control" id="winvdate">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-lg-12">
          <label for="wdesc">Description</label>
          <textarea maxlength="250" [(ngModel)]="model.desc" class="form-control" id="wdesc" name="wdesc" rows="10"></textarea>
          <div class="row mt-3" [hidden]="!model.layout">
            <div class="form-group col-sm-8 col-lg-6">
              <input (change)="layoutdata.value=''" #layoutdata (paste)="clip($event)" type="text" class="form-control" id="layoutdata"
                placeholder="Paste EXCEL data here">
            </div>
          </div>
        </div>

      </div>

    </form>
  </div>
  <div *ngIf="model.layout" class="col-md-12 col-lg-4">
    <label for="wdesc">Layout Legend</label>
    <ul class="list-group list-group-flush">
      <li *ngFor="let headCol of layouts | filterLayoutCols: model.layout" class="list-group-item">
        <strong>Column:</strong> {{ headCol.PL_COL}} - {{ headCol.PL_DESC }}
      </li>
    </ul>
  </div>
</div>



<div class="row" *ngIf="layouts.length>0 && layoutData.length>0">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center align-middle" *ngFor="let headCol of layouts | filterLayoutCols: model.layout">{{ headCol.PL_DESC }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of layoutData;index as i">
          <td class="align-middle" *ngFor="let col of layoutData[i];index as j" [class.text-right]="(col | isNumber) && j!=0">{{ col }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>