.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .mat-radio-group {
    display: inline-flex;
    flex-direction: row;
  }
  
  .mat-radio-button {
    margin: 5px;
  }
  