<div class="text-center login-container">
  <form #loginForm="ngForm" (ngSubmit)="submit(loginForm)" class="form-signin">
    <img class="mb-4" [src]="catLogoUrl" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <p class="text-left">
      <ngb-alert type="danger" [dismissible]="fales" *ngIf="invalidLogin">
        <strong>Warning!</strong> {{ message }}
      </ngb-alert>
    </p>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input ngModel name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input ngModel name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">CATERP 2018</p>
  </form>
</div>